<h1>Welcome Jeff, how may I help you today?</h1>

<h2>
<hr/>
At the moment you have:  
<p>Albums:   <%= Album.count%></p>
<p>Artists: <%= Artist.count%> </p>
<p>Profit: <%= Album.capital_earned - Album.capital_invested %> £ </p>
</h2>
<hr/>
<h3>Stock Arrived</h3>

<form action="/music/buy" method="post">

<p>
  Select an album:
  <label>
    <select name="id">
    <option disabled selected>select..</option>
      <% for album in @albums %>
      <option value="<%= album.id %>"><%= album.title %></option>
      <% end %>
    </select>
  </label>
  <label>
    Quantity: 
    <input type="number"  name="quantity" min="0"/>
  </label>

  <input type="submit" value="Stock Arrived"/>
</p>
</form>

<hr/>

<h3>Albums Sold</h3>

<form action="/music/sell" method="post">

<p>
  Select an album:
  <label>
    <select name="id">
    <option disabled selected>select..</option>
      <% for album in @albums %>
      <option value="<%= album.id %>"><%= album.title %></option>
      <% end %>
    </select>
  </label>
  <label>
    Quantity: 
    <input type="number"  name="quantity" min="0"/>
  </label>

  <input type="submit" value="Albums Sold"/>
</p>
</form>

<hr/>
