<h1>All the Albums</h1>
<hr/>
<a href="/music/albums/new">Add a NEW Album</a>
<hr/>
<% for album in @albums %>
<p>Title: <%= album.title()  %></p>
<p>Artist: <%= album.artist.name %></p>
<p>Genre: <%= album.genre.type %></p>
<p>Price: <%= album.price()  %></p>
<p>Quantity: <%= album.quantity()  %></p>
<hr/>


<%end%>

