<h1>All the Albums</h1>

<form action="/music/albums" method="post">
<p>
  Select a title:
  <label>
    <select name="title">
    <option disabled selected>select..</option>
      <% for album in @albums %>
      <option value="<%= album.title %>"><%= album.title %></option>
      <% end %>
    </select>
  </label>
</p>

<p>
  Select an artist:
  <label>
    <select name="artist_id">
    <option disabled selected>select..</option>
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  </label>
</p>

<p>
  Select a genre:
  <label>
    <select name="genre_id">
    <option disabled selected>select..</option>
      <% for genre in @genres %>
      <option value="<%= genre.id %>"><%= genre.type %></option>
      <% end %>
    </select>
  </label>
</p>

<p>
  <label>
    Quantity: 
    <input type="number"  name="quantity"/>
  </label>
</p>

  <input type="submit" value="Add"/>

</form>
<table>
<caption>Inventory</caption>

<tr>
  <th>Title</th>
  <th>Artist</th>
  <th>Genre</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>SOLD</th>
  <th>Stock Level</th>
</tr>

<% for album in @albums %>
<tr> 
  <td><%= album.title()  %></td>
  <td><a href="/music/artists/<%= album.artist_id  %>"><%=album.artist.name %></a></td>
  <td><%= album.genre.type %></td>
  <td><%= album.price()  %></td>
  <td><%= album.quantity()  %></td>
  <td><%= album.quantity_sold()  %></td>
  <td class="<%= album.stock_level.downcase %>">Stock Level: <%= album.stock_level  %></td>
  </tr>
<%end%>
  
</table>


