<h1>All the Albums</h1>

<table>
<caption>Inventory</caption>

<tr>
  <th>Title</th>
  <th>Artist</th>
  <th>Genre</th>
  <th>Buy Price</th>
  <th>Sold Price</th>
  <th>Quantity</th>
  <th>Quantity Sold</th>
  <th>Stock Level</th>
</tr>

<% for album in @albums %>
<tr> 
  <td><%= album.title()  %></td>
  <td><a href="/music/artists/<%= album.artist_id  %>"><%=album.artist.name %></a></td>
  <td><%= album.genre.type %></td>
  <td><%= album.price()  %></td>
  <td><%= album.price_sold()  %></td>
  <td><%= album.quantity()  %></td>
  <td><%= album.quantity_sold()  %></td>
  <td class="<%= album.stock_level%>">Stock Level: <%= album.stock_level  %></td>
  </tr>
<%end%>
  
</table>


