<h1>Crazy Keith's Music Store</h1>

<table>
<caption>Inventory</caption>

<tr>
  <th>Title</th>
  <th>Artist</th>
  <th>Genre</th>
  <th>Purchase Price</th>
  <th>Selling Price</th>
  <th>Quantity</th>
  <th>Quantity Sold</th>
  <th>Stock Level</th>
</tr>

<% for album in @albums %>
<tr> 
  <td><a href="/music/albums/<%= album.id  %>"><%=album.title %></a></td></td>
  <td><a href="/music/artists/<%= album.artist_id  %>"><%=album.artist.name %></a></td>
  <td><a href="/music/genres/<%= album.genre_id  %>"><%=album.genre.type %></a></td>
  <td><%= album.price()  %></td>
  <td><%= album.price_sold()  %></td>
  <td><%= album.quantity()  %></td>
  <td><%= album.quantity_sold()  %></td>
  <td class="<%= album.stock_level%>"> <%= album.stock_level  %></td>
  </tr>
<%end%>
  
</table>


