<h1>All the Albums</h1>

<hr/>
<p id="add_new_btn">
<a href="/music/albums/new"  class="btn">Add a NEW Album</a>
</p>
<hr/>

<table>
<caption>All the Albums</caption>

<tr>
  <th>Title</th>
  <th>Artist</th>
  <th>Genre</th>
  <th>Price</th>
  <th>Details</th>
</tr>

<% for album in @albums %>
<tr> 
  <td><%= album.title()  %></td>
  <td><a href="/music/artists/<%= album.artist_id  %>"><%=album.artist.name %></a></td>
  <td><%= album.genre.type %></td>
  <td><%= album.price()  %></td>
  <td><form action="/music/albums/<%= album.id  %>" method="get">
<input type="submit" value="Show details" />
</form></td>
  </tr>
<%end%>
  
</table>

