<h1> Album Details </h1>

<p>Title: <%= @album.title %></p>
<p>Artist: <%= @album.artist.name %></p>
<p>Genre: <%= @album.genre.type %></p>
<p>ID: <%= @album.id %></p>
<p>Purchase Price: <%= @album.price %></p>
<p>Selling Price: <%= @album.price_sold %></p>
  <p>
    <a href="/music/albums/<%= @album.id %>/edit" class="btn">Edit</a>
    </p>
    
<form action = "/music/albums/<%= @album.id %>/delete" method = "post">
<input type = "submit" value = "Delete" >
</form>