<h1>Update an ALBUM</h1>

<form action="/music/albums/<%= @album.id %>" method="post">
<p>
  <label>
    Title: 
    <input type="text"  name="title" value = "<%= @album.title %>"/>
  </label>
</p>


<p>
<label>
  Artist:
  <select name="artist_id">
    <option disabled selected>select..</option>
  <% for artist in @artists %>
    <option <%= "selected" if @album.artist.id == artist.id %> value="<%= artist.id %>"><%= artist.name %></option>
  <% end %>
  </select>
  </label>
</p>

  <label>
    Genre: 
    <input type="text"  name="genre" value="<%= artist.genre %>"/>
  </label>
</p>
<p>
  <label>
    Price: 
    <input type="number"  name="price" value="<%= artist.price %>"/>
  </label>
</p>

  <input type="submit" value="Update"/>

</form>